* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1%;
}

.container input {
    padding: 10px;
}

.container button {
    padding: 10px;
}